FAAC_API_KEY=CHANGE_ME

AWS_REGION=us-east-1
AWS_CONFIG_DIR=/home/koldo/.aws
INSTANCE_ID=CHANGE_ME

REMOTE_SCRIPT=/home/ubuntu/keeloq/run_keeloq_job.sh
WORKER_TIMEOUT=180
STARTUP_TIMEOUT=900
POLL_SECONDS=5

FAAC_APP_ROOT=/home/koldo/faac-api
