FAAC_API_KEY=CHANGE ME

AWS_REGION=us-east-1
INSTANCE_ID=i-0b5b6c87067986b06
REMOTE_SCRIPT=/home/ubuntu/keeloq/run_keeloq_job.sh
WORKER_TIMEOUT=180
STARTUP_TIMEOUT=900
POLL_SECONDS=5

FAAC_APP_ROOT=/app
AWS_ACCESS_KEY_ID="**********"
AWS_SECRET_ACCESS_KEY="******************************"
