<?xml version="1.0"?>

<configuration>
  
	  <appSettings>
	  <add
		key="FaacApiUrl"
		value="http://127.0.0.1:8011/decrypt" />

	  <add
		key="FaacApiKey"
		value="UVEjw-qGAbXrCMjJ9AKaY8Wg8rjo59" />

	  <add
		key="FaacApiTimeoutMs"
		value="900000" />
	</appSettings>
    <connectionStrings>
        <add name="dbConnectionString" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\db.mdb;"
            providerName="System.Data.OleDb" />
        <add name="FaacConnectionString" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\Faac.mdb;"
            providerName="System.Data.OleDb" />
        <add name="LicenciasConnectionString" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\Licencias_M-BT.mdb"
            providerName="System.Data.OleDb" />
    </connectionStrings>
  
    <system.web>
        <compilation debug="true" />
       <authentication mode="Forms">
        <forms loginUrl="Logon.aspx" name=".ASPXFORMSAUTH">
        </forms>
       </authentication>
    </system.web>
    
       <location path="Default.aspx">
       <system.web>     
        <authorization>
          <deny users="?" />
        </authorization>
       </system.web>
       </location>
       <location path="Faac.aspx">
           <system.web>

             <authorization>
               <deny users="?" />
             </authorization>
       </system.web>
     </location>
    <location path="Sminn.aspx">
      <system.web>

        <authorization>
          <deny users="?" />
        </authorization>
      </system.web>
    </location>
<location path="Licencias_M-BT.aspx">
       <system.web>    

        <authorization>
          <deny users="?" />
        </authorization>
       </system.web>
       </location>

   </configuration>
